@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
// colori
$primary-color: #f7cd50;
$secondary-color: #ef9f30;
$tertiary-color: #e7700d;
$background: #0e1b19;
$footer-color: #3a3a3a7d;

//bordi
$border: 18px;

//font
$roboto: "Roboto", sans-serif;
