@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
// colori
$primary-color: #f7cd50;
$secondary-color: #ef9f30;
$tertiary-color: #e7700d;
$background: #0e1b19;
$footer-color: #3a3a3a7d;
$text-color: #f7f7f7;

//bordi
$border: 18px;

//font
$roboto: "Roboto", sans-serif;

//button mixins
@mixin def-button {
  // font-family: "Roboto", sans-serif;
  font-weight: bold;
  width: 60%;
  padding: 10px;
  border-radius: 8px;
  background-color: $secondary-color;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.72);
  cursor: pointer;
  transition: all 0.35s;
  &:hover {
    background-color: $tertiary-color;
  }
}

@mixin def-input($width) {
  font-family: "Roboto", sans-serif;
  border-radius: 6px;
  outline: none;
  width: $width;
  padding: 8px;
  outline: none;
}
//---------------------------
// VARIABLES

$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;

//---------------------------------------------
//MEDIA QUERY

// Mobile
//--------------------------------------------------------------------//
@mixin mobile {
  @media (min-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}
