.LoginPage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: $secondary-color;
	height: 400px;

	.loginForm {
		h4,
		p {
			margin: 0 0 10px;
		}
		display: flex;
		flex-direction: column;
		align-items: center;
		.textInput {
			width: 250px;
			margin-bottom: 10px;
		}
	}
	.Button {
		width: 100px;
		height: 30px;
		a {
			text-decoration: none;
			color: inherit;
		}
	}
}
