.CardPromo {
  background-color: $background;
  margin: 0px;
  .title {
    color: $secondary-color;
    text-align: center;
  }
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
  .GoldCard {
    width: 100%;
    height: 100%;
  }
  .textbox {
    font-size: 0.9rem;
    text-align: center;
    margin: 10px 10px;
  }
  .firstext {
    color: $secondary-color;
  }
  .secondtext {
    color: $primary-color;
  }
  .secondwrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  .secondtextbox {
    text-align: center;
  }
}
