.MovieBooking {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  h3,
  p {
    color: $secondary-color;
  }
  h2 {
    color: $primary-color;
  }

  h3,
  h2,
  ul,
  p {
    margin: 0;
  }

  .dateSection,
  .hoursSection {
    width: 80%;
    ul {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 2%;
      width: 100%;

      li {
        font-weight: bold;
        background-color: $primary-color;
        color: $background;
        border-radius: $border;
        text-align: center;
        list-style-type: none;
        width: 30%;
        margin-top: 8px;
        padding: 2px;
        cursor: pointer;
        transition: transform 0.35s;

        &:hover {
          transform: scale(1.1);
          background-color: $tertiary-color;
        }
      }
      .selected {
        background-color: $tertiary-color;
      }
    }
  }

  a {
    text-decoration: none;
    color: $background;
    text-align: center;
    @include def-button;
  }
}
