.MovieBooking {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  h3,
  p {
    color: $secondary-color;
  }
  h2 {
    color: $primary-color;
  }

  h3,
  h2,
  ul,
  p {
    margin: 0;
  }

  .dateSection,
  .hoursSection {
    width: 80%;
    ul {
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      gap: 2px;
      //   width: 60%;

      li {
        border: 2px solid red;
        text-align: center;

        list-style-type: none;
        width: 20%;
      }
    }
  }

  a {
    text-decoration: none;
    color: $background;
    text-align: center;
    @include def-button;
  }
}
