.CardList {
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 28px 16px;

  @include tablet {
    padding: 0 5%;
    gap: 60px 40px;
    z-index: 2;
    position: relative;
  }
  .title {
    margin: 0;
    width: 100%;
    color: $secondary-color;
    @include tablet {
      text-align: center;
      font-size: 1.3rem;
    }
  }
}
