.wrapper {
  padding: 10px;

  .title {
    color: $primary-color;
    margin: 0;
    padding-bottom: 10px;
  }
  .select {
    @include def-input(calc(100% - 5px));

    //TO SOLVE
    .option {
      border: 2px solid red;
      background-color: $background;
      color: $secondary-color;
      border-radius: 18px;
      cursor: pointer;
      &:hover {
        color: $tertiary-color;
      }
    }
  }
  // .quote {
  // 	display: none;
  // }
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .select {
      width: calc(60% - 16px);
    }
    .quote {
      display: block;
      width: 80%;

      blockquote {
        // padding-top: 20px;
        color: white;
        font-weight: bold;
        text-align: center;
        font-size: 1.5rem;
      }
      h3 {
        text-align: right;
        color: white;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .quote {
    display: none;
  }
}
