.modalWrap {
  position: fixed;
  left: 0;
  top: 64px;
  transform: translateX(100%);
  width: 100%;
  height: calc(100vh - 64px);
  background-color: #3a3a3a;
  border-right: 1px solid #ccc;
  transition: transform 1.55s ease;
  // opacity: 0;
  z-index: 1;

  .backArrow {
    color: $primary-color;
    font-size: 2rem;
    position: absolute;
    top: 5%;
    left: 5%;
    z-index: 1;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
    }
  }
  .logo {
    position: absolute;
    bottom: 25px;
    right: 20px;
    width: 30%;
  }
}

.show {
  transform: translateX(0px);
  // opacity: 1;
}
