.modalWrap {
  position: fixed;
  top: 64px;
  transform: translateX(100%);
  width: 100vw;
  height: 0;
  background-color: #3a3a3a;
  border-right: 1px solid #ccc;
  transition: all 1.55s ease;
  opacity: 0;
}

.show {
  transform: translateX(0px);
  opacity: 1;
  height: calc(100vh - 64px);
}
